<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page3">
  <form id="cadastro-form2">
    <ion-list id="cadastro-list2">
      <ion-item id="cadastro-input3">
        <ion-label>
          Nome
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="cadastro-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="cadastro-input5">
        <ion-label>
          Senha
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-button id="cadastro-button3" block on-click="goToLogin()">
      Cadastrar
    </ion-button>
  </form>
</ion-content>
