<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page2">
  <img src="assets/img/BNaeki3DQPK2V6TtOMfd_Artigos-para-caes-sao-os-mais-buscados-na-categoria-Pet-da-Shopee-jpg.webp" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <form id="login-form1">
    <div class="spacer" style="width:300px;height:20px;" id="login-spacer2"></div>
    <ion-list id="login-list1">
      <ion-item id="login-input1">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="login-input2">
        <ion-label>
          Senha
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer3"></div>
    <ion-button id="login-button1" block on-click="goToTelaInicial()">
      Entrar
    </ion-button>
    <ion-button id="login-button2" block on-click="goToCadastro()">
      Criar conta
    </ion-button>
  </form>
</ion-content>
